<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Biometric multi-factor authentication final year project">
    <meta name="author" content="Joe Alamo-Keilty">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>
        {% block title %}
        Biometric Site
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
